<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Rent</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="static\css\StyleSheet.css">
  </head>
  <body>
    <!--<nav class="navbar">
      <div class="float-left">
        <a href="/">RENT</a>
        <a href="/upload">UPLOAD</a>
      </div>
      <div class="float-right">
        <a href="#user">UserName</a>
        <a href="#logout">Log Out</a>
      </div>
    </nav>-->

       <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>

</body>
</html>