<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\css\StyleSheet.css">
    <script src="static/scripts/scripts.js?newversion1999995"></script>
  </head>
  
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="float-left">
        <!-- stuff on the left -->
        <a href="/">Home</a>
        <a href="/rent">Rent</a>
        <a href="/upload">Upload</a>
      </div>
      <div class="float-right">
        <!-- stuff on the right -->
        <a class="active" href="#user" id="user">{{username}}</a>
        {%- if logout -%}
        <a href="/logout">Log Out</a>
        {%- endif %}
      </div>
    </nav>
    <!-- Navbar -->

    <div class="container">
    	<div class="row">
    		<div class="col-sm-6">
    			<h3>About</h3>
    			<section>
    				<table class="table table-dark">
    					<tr>
    						<th scope="col">First Name:</th>
   	 						<td></td>
    					</tr>
    					<tr>
    						<th scope="col">Last Name:</th>
    						<td></td>
    					</tr>
    					<tr>
    						<th scope="col">Email:</th>
    						<td></td>
    					</tr>
    				</table>
  	  			</section>
    		</div>
    		<div class="col-sm-6">
    			<h3>Currently Listed Items</h3>
  				<section>
    				<table class="table table-dark">
    					<thead>
    						<tr>
    							<th scope="col">Item Name</th>
    							<th scope="col">Item Price</th>
    						</tr>
    					</thead>
    					<tbody id="ListedTable"></tbody>
    				</table>
    			</section>
    			<h3>Currently Rented Items</h3>
    			<section>
    				<table class="table table-dark">
            			<thead>
              				<tr>
                				<th scope="col">Item</th>
                				<th scope="col">Price</th>
                				<th scope="col">Next Billing Date</th>
                				<th scope="col">Return Item</th>
              				</tr>
            			</thead>
            			<tbody id="RentedTable"></tbody>
          			</table>
    			</section>
  			</div>
  		</div>
  	</div>
  </body>