<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Rent</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="static\css\StyleSheet.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="float-left">
        <a href="/rent">Rent</a>
        <a class="active" href="/upload">Upload</a>
      </div>
      <div class="float-right">
        <a href="#user">{{username}}</a>
        <a href="/logout">Log Out</a>
      </div>
    </nav>

</body>
</html>