<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Rent</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="static/scripts/scripts.js?ver3.98"></script>
    <link rel="stylesheet" href="static\css\StyleSheet.css">
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="float-left">
        <!-- stuff on the left -->
        <a href="/">Home</a>
        <a class="active" href="/rent">Rent</a>
        <a href="/upload">Upload</a>
      </div>
      <div class="float-right">
        <!-- stuff on the right -->
        <a href="#user" id="user">{{username}}</a>
        {%- if logout -%}
        <a href="/logout">Log Out</a>
        {%- endif %}
        {%- if not logout -%}
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
        {%- endif %}
      </div>
    </nav>
    <!-- Navbar -->

    <!--<div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content"> 
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5> 
                </div>
                <div class="modal-body">
              
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss = "modal">Close</button>
                </div>
            </div>
        </div>
    </div>-->

    <div class="grid-container grid-column-2 grid-row-2">

      <div class="container w100">
        <h3>Item List</h3>
        <div class="container w100 vh30 scroll-y">
          <table class="table table-dark">
          <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Daily Price</th>
                <th scope="col">Weekly Price</th>
                <th scope="col">Monthly Price</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody id = "ItemTable"></tbody>
          </table>
        </div>
      </div>

        <div class="container w100">
        <h3>Details</h3>
        <div class="container w100 vh30 scroll-y">
          <p id="details">Select on view to look at the description and the retail price of the item.</p>
          <p id="retail_price"></p>
          <div class="btn-group" id="buttongroup">
          </div>
        </div>
      </div>

      <div class="container w100">
        <h3>Rent History</h3>
        <div class="container w100 vh30 scroll-y">
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Rent Again</th>
              </tr>
            </thead>
            <tbody id="RentHistoryTable"></tbody>
          </table>
        </div>
      </div>

      <div class="container w100">
        <h3>Rented Items</h3>
        <div class="container w100 vh30 scroll-y">
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Next Billing Date</th>
                <th scope="col">Return Item</th>
              </tr>
            </thead>
            <tbody id="RentedTable"></tbody>
          </table>
        </div>
      </div>

    </div>

    <script>
        loadItems('Item');
        loadItems('RentedItem');
        loadItems('RentedItem', true)
    </script>

  </body>
</head>

