<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Rent</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="static/scripts/scripts.js?ver2.2"></script>
    <link rel="stylesheet" href="static\css\StyleSheet.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="float-left"2
        <a class="active" href="/rent">Rent</a>
        <a href="/upload">Upload</a>
      </div>
      <div class="float -right">
        <a href="#user" id="user">{{username}}</a>
        {%- if logout -%}
        <a href="/logout">Log Out</a>
        {%- endif %}
        {%- if not logout -%}
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
        <a href="/
        ">Home</a>
        {%- endif %}
        
      </div>
    </nav>

    <!--<div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content"> 
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5> 
                </div>
                <div class="modal-body">
              
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss = "modal">Close</button>
                </div>
            </div>
        </div>
    </div>-->
    
    <table>
      <tr>
        <td class="w50">

          <div class="container w100">
            <h3>Item List</h3>
            <table class="table table-dark">
            <thead>
                <tr>
                  <th scope="col">Item</th>
                  <th scope="col">Daily Price</th>
                  <th scope="col">Weekly Price</th>
                  <th scope="col">Monthly Price</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody id = "ItemTable"></tbody>
            </table>
          </div>
      
        </td>
        <td class="w50">

          <div class="container w100">
            <h3>Recently Rented</h3>
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item</th>
                  <th scope="col">Monthly Renting Price</th>
                  <th scope="col">Rent Again</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Car</td>
                  <td>$100</td>
                  <td><button>Rent</button></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Guitar</td>
                  <td>$10</td>
                  <td><button>Rent</button></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Grand Piano</td>
                  <td>$200</td>
                  <td><button>Rent</button></td>
                </tr>
              </tbody>
            </table>
            <button>Checkout</button>
          </div>
      
        </td>
      </tr>
      <tr>
        <td class="w50">
                
          <div class="container w100">
            <h3>Details</h3>
            <p id="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac odio non arcu tempus maximus. Sed consectetur lobortis sollicitudin. Aenean feugiat feugiat felis sed volutpat. Phasellus vehicula lacinia nisi. Aenean vitae erat interdum, interdum urna bibendum, mattis velit. Donec placerat rhoncus interdum. Nunc tristique non sapien ac dapibus. Suspendisse vestibulum gravida purus id tincidunt. Vivamus nec urna dolor. Praesent commodo tortor euismod hendrerit pharetra. Sed velit turpis, tristique sit amet consequat vitae, tincidunt sed purus. Proin varius auctor ornare. Phasellus luctus massa ac arcu elementum, eu vulputate ante varius. In molestie rhoncus magna, ullamcorper luctus nisi laoreet eu. Duis ante sapien, suscipit et pretium et, imperdiet nec enim. Phasellus volutpat lectus malesuada laoreet sagittis.</p>
            <p id="retail_price">Retail Price: </p>
            <div class="btn-group" id="buttongroup">
            </div>
          </div>

        </td>
        <td class="w50">
          
          <div class="container w100">
            <h3>Rented Items</h3>
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Item</th>
                  <th scope="col">Price</th>
                  <th scope="col">Next Billing Date</th>
                  <th scope="col">Return Item</th>
                </tr>
              </thead>
              <tbody id="RentedTable"></tbody>
            </table>
          </div>

        </td>
      </tr>
    </table>

    <script>
        loadItems('Item');
        loadItems('RentedItem');
    </script>

  </body>
</head>

