<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Upload</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\css\StyleSheet.css">
    <script src="static/scripts/scripts.js?newversion1999995"></script>
  </head>
  
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="float-left">
        <!-- stuff on the left -->
        <a href="/">Home</a>
        <a href="/rent">Rent</a>
        <a class="active" href="/upload">Upload</a>
      </div>
      <div class="float-right">
        <!-- stuff on the right -->
        <a href="#user" id="user">{{username}}</a>
        {%- if logout -%}
        <a href="/logout">Log Out</a>
        {%- endif %}
        {%- if not logout -%}
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
        {%- endif %}
      </div>
    </nav>
    <!-- Navbar -->

    <div class="container" style="margin-top:30px">
       <h1>Upload Items</h1>
      <br>
      
    <form action="" method="post" onsubmit="saveItem('Item')" id="form" enctype="multipart/form-data">
        <label for="fname"><b>Item Name</b>:</label>
        <input type="text" id="title" name="title" value="{{
          request.form.title }}"><br><br>
        <label for="fname"><b>Daily Price</b>:</label>
        <input type="text" id="daily_price" name="daily_price" value="{{
          request.form.daily_price }}"><br><br>
        <label for="fname"><b>Weekly Price</b>:</label>
        <input type="text" id="weekly_price" name="weekly_price" value="{{
          request.form.weekly_price }}"><br><br>
        <label for="fname"><b>Monthly Price</b>:</label>
        <input type="text" id="monthly_price" name="monthly_price" value="{{
          request.form.monthly_price }}"><br><br>
        <label for="fname"><b>Description</b>:</label>
        <textarea style="resize:none" id="description" name="description" value="{{
          request.form.description }}"></textarea><br><br>
        <label for="fname"><b>Retail Price</b>:</label>
        <input type="text" id="retail_price" name="retail_price" value="{{ 
          request.form.retail_price }}"><br><br>
        <label for="fname">Category:</label>
            <select id="category" name="category" value="{{ request.form.category }}">
                <option value="cars">Cars</option>
                <option value="instruments">Instruments</option>
                <option value="tools">Tools</option>
                <option value="other">Other</option>
            </select><br><br>
        <label for="fname">Pittsburgh Location:</label>
            <select id="location" name="location" value="{{request.form.location }}">
                <option value="north_oakland">North Oakland</option>
                <option value="south_oakland">South Oakland</option>
                <option value="strip_district">Strip District</option>
                <option value="mount_washington">Mount Washington</option>
            </select><br><br>

        <label for="fname">Upload Photo:</label>
        <input id="the-file" type="file" name="file">
        <br><br>
        <input class="btn btn-default" type="submit" value="Upload">
      </form>
        


    </div>

</body>
</html>